<div>
	<div class="mdl-textfield mdl-js-textfield">
		<input class="mdl-textfield__input" type="text" id="gameName" [(ngModel)]="game.name"/>
		<label class="mdl-textfield__label" for="gameName" >Name</label>
	</div>
	<div *ngIf="game.players.length">
		<div *ngFor="let player of game.players" >
			<app-players-scores (addNewPlayer)="addNewPlayer($event)" (deletePlayer)="deletePlayer($event)" [player]="player"></app-players-scores>
		</div>
	</div>
	<div>
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored" (click)="addNewPlayer($event)"><i class="material-icons">add</i></button>
	</div>
</div>
