<div>
	<div class="mdl-textfield mdl-js-textfield">
		<input class="mdl-textfield__input" type="text" id="gameName" [(ngModel)]="game.name"/>
		<label class="mdl-textfield__label" for="gameName" >Name</label>
	</div>
	<div *ngIf="game.players.length">
		<div *ngFor="let player of game.players" >
			<app-players-scores (addNewPlayer)="addNewPlayer($event)" (deletePlayer)="deletePlayer($event)" [player]="player"></app-players-scores>
		</div>
	</div>
	<div>
		<button md-mini-fab (click)="continueToGame()"><md-icon>add</md-icon></button>
	</div>
</div>
